<section ng-controller="CategoriesController" ng-init="find()">
  <div class="row">
    <div class="col-md-4 table-scrolling">
      <h2><strong>Categories</strong></h2>
      <table class="table table-striped table-hover" id="table-border">
        <tr ng-repeat="category in categories" on-click="adjustFilter(category[$index])'">
          <td><h3 class="list-group-item-heading" ng-bind="category"></h3></td>
        </tr>
      </table>
    </div>
    <div class="col-md-8">
      <h2 class="text-center"><strong>Listings</strong></h2>
      <div class="table-scrolling">
        <table class="table table-striped table-hover" id="table-border">
          <tr ng-repeat="recipe in recipes" ui-sref="recipes.view({recipeId: recipe._id})">
            <td>Posted on
            <span ng-bind="recipe.updated_at | date:'mediumDate'"></span>
            <h4 class="list-group-item-heading" ng-bind="recipe.title"></h4>
            </td>
            <td>
            <span ng-bind="recipe.user.displayName"></span>
            <p class="list-group-item-text" ng-bind="recipe.content"></p> 
            </td>
          </tr>
        </table>
    </div>
<br>
<br>
<br>
<div class="col-sm-12">
  <footer class="modal-footer modal-footer-center">
    <a ui-sref="contact" class="footer">Contact Us</a>
    <a ui-sref="about" class="footer">About</a>
    <a ui-sref="mission" class="footer">Our Mission</a>
  </footer>
<br>
</div>
</section>