<section ng-controller="HomeController" ng-init="find()" style="min-height: 70vh;">
<style>
  body {
    background-image: url('modules/core/client/img/brand/veggies.jpg');
  }
</style>
<body>
    <div class="top">
        <!--<img id="veggies" src="modules/core/client/img/brand/veggies.jpg"/>-->
        <div class="float-left">
          <img id="food" src="modules/core/client/img/brand/ccb.png"/>
        </div>

        <div class="z-index-2" id="overlay">
          <div class="text-center">
            <div>
              <h2>Chicken Cordon Bleu</h2>
            </div>
          </div>
          <div class="">
              <h3 class="text-center">Post-healthification!</h3>
              <ul>
                <li>Traditional flour breading -> Panko breading</li>
                <li>Chicken -> Low Fat Chicken</li>
                <li>Cheese -> Vegan Cheese Substitute</li>
              </ul>
              <h3 class="text-center">Nutritional Information</h3>
              <ul>
                <li>Carbohydrates: 29g </li>
                <li>Saturated Fat: 2g </li>
                <li>Unsaturated Fat: 1g </li>
                <li>Protein: 23g </li>
                <li>Sugar: 1g </li>
                <li>Sodium: 600mg</li>
                <li>Fiber: 2g </li>
              </ul>
          </div>
        </div>
    </div>
<!--
    <div class="col-md-12 text-center">
      <div class="btn-group">
        <p>
          <a class="btn btn-primary btn-lg" ui-sref="categories.list">Categories</a>
          <a class="btn btn-primary btn-lg" ui-sref="recipes.list">Recipes</a>
        </p>
      </div>
    </div>
-->
    <div class="row" id="banner">
    </div> 

</body>

    <!--
    <div class="row" id="style2">
      <div class="col-md-5 col-md-offset-1 center">
        <h2 class="text-center"> Browse Recipes </h2>
        <div class="table-scrolling">
          <table class="table table-striped table-hover" id="table-border">
            <tr ng-repeat="recipe in recipes" ng-click='showDetails($index)'> <!--ui-sref="recipes.view({recipeId: recipe._id}) --> <!--
              <td>Posted on
              <span ng-bind="recipe.updated_at | date:'mediumDate'"></span>
              <h2 class="list-group-item-heading" ng-bind="recipe.title"></h2>
              </td>
              <td>by
              <span ng-bind="recipe.user.displayName"></span>
              <p class="list-group-item-text" ng-bind="recipe.content"></p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="jumbotron col-md-4 col-md-offset-1">
        <h3>Select a Recipe for more details</h3>
         <br />
         <p id="details"><strong>Title:</strong> <br />
          <span>{{detailedInfo.title}}</span> <br />
          <strong>Servings:</strong> <br />
          <span>{{detailedInfo.servings}}</span> <br />
          <strong>Cook Time:</strong> <br />
          <span>{{detailedInfo.cook_time}}</span> <br />

          <strong>Ingredients:</strong><br />
          <span ng-repeat="ingredient in detailedInfo.original_ingredients">"{{ingredient.quantity}}  {{ingredient.unit}} {{ingredient.item}}" </span> <br>
          <span ng-repeat="ingredient in detailedInfo.healthy_ing">"{{ingredient.quantity}}  {{ingredient.unit}} {{ingredient.item}}" </span> <br>
          <strong>Directions: </strong> <br>
          <span>{{detailedInfo.directions}} {{detailedInfo.instructions}}</span>
         </p>
      </div>
    </div>
  -->

</section>

<footer class="modal-footer modal-footer-center" id="footerstyle">
  <a ui-sref="contact" class="footer">Contact Us</a>
  <a ui-sref="about" class="footer">About</a>
  <a ui-sref="mission" class="footer">Our Mission</a>
</footer>
