<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-4">
        <img alt="What U Eatin?" class="img-responsive text-center" src="modules/core/client/img/brand/newlogo.jpg"/>
      </div>
      <br>
      <div class="col-sm-12 text-center">
        <p class="blockquote"><strong>OUR MISSION</strong></p>
      </div>
    </div>
  </div>


<br>
<br>
<br>
  <footer class="modal-footer modal-footer-center">
    <a ui-sref="contact" class="footer">Contact Us</a>
    <a ui-sref="about" class="footer">About</a>
    <a ui-sref="mission" class="footer">Our Mission</a>
  </footer>
<br>
</section>
