<section ng-controller="RecipesController" ng-init="find()">
  <div class="page-header">
    <h1>Recipe Healthification</h1>
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <h3>Original Ingredients</h3>
        
      <!-- ng repeat by the amount of ingredients -->
      <!-- this is for each of these columns -->
        
        
    </div>
    <div class="col-md-2">
      <h3>Parameters</h3>
        <div class="form-group">
          <select class="form-control" name="nutrients" ng-model="options.nutrients">
          <!-- this right hurr is a drop down box with the nutrient names -->
          </select>
        </div>
        <div class="form-group">
          <input name="minimize" id="minimize" type="checkbox" checked="checked">
          <!-- this checkbox determines whether we're finding alt ingredients that are greater/less than the current nutrient val -->
          Minimize
          </input>
        </div>
    </div>
    <div class="col-md-5">
      <h3>Alternative Ingredients</h3>
    
    
    
    
      <!-- display the health ingredients -->
    
    
    </div>
  </div>
  <div class="row">
    <h3>Healthification Statistics</h3>
      <table id="stats_table">
      
      
      </table>
  </div>
</section>

<footer class="modal-footer modal-footer-center" id="footerstyle">
  <a ui-sref="contact" class="footer">Contact Us</a>
  <a ui-sref="about" class="footer">About</a>
  <a ui-sref="mission" class="footer">Our Mission</a>
</footer>
