<section ng-controller="RecipesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Recipe Healthification</h1>
  </div>
  
  <div class="row">
    
  </div>

  <div class="row">
    <table id="ingredient_data_table" class="table table-striped">
      <thead>
        <tr>
          <td>
            <h3>Original Ingredients</h3>
          </td>
          <td>
            <h3>Parameters</h3>
          </td>
          <td>
            <h3>Max?</h3>
          </td>
          <td>
            <!--this is where button goes-->
          </td>
          <td>
            <h3>Alternative Ingredients</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <!-- ng repeat by the amount of ingredients -->
        <tr ng-repeat="ingredient in recipe.orig_ing">
          <!-- this is for each of these columns -->
          <td>{{ingredient.item}}</td>
          <td>
            <select name="nutrients" ng-model="options.nutrients">
              <!-- this right hurr is a drop down box with the nutrient names -->
            </select>
          </td>
          <td>
            <input name="minimize" id="minimize" type="checkbox" checked="checked">
              <!-- this checkbox determines whether we're finding alt ingredients that are greater/less than the current nutrient val -->
            </input>
          </td>
          <td>
            <span class="input-group-btn">
              <button type="button" class="btn btn-success" ng-click="">
                <span class="glyphicon glyphicon-arrow-right"></span>
              </button>
            </span>
          </td>
          <td>
            {{ingredient.item}}
            <!-- display the health ingredients -->
          </td>
        </tr>
      </tbody>  
    </table>
  </div>
  
  <div class="row">
    <h3>Healthification Statistics</h3>
      <table id="stats_table">
      
      
      </table>
  </div>
</section>
