
<section ng-controller="RecipesController" ng-init="findOne()" style="min-height: 100vh;" id="style" >
  <div style="min-height: 100vh;">
    <div class="row" id="style">
      <div class="page-header col-md-10 col-md-offset-1 text-center" id="recipeheader">
        <h1 ng-bind="recipe.title" style="padding-top: 20px;"></h1>
        <small>
          <em class="text-muted" style="color: #000; font-size: 12px; ">
            Posted on
            <span ng-bind="recipe.updated_at | date:'mediumDate'"></span>
            by
            <span ng-bind="recipe.user.displayName"></span>
          </em>
        </small>
      </div>
    </div>
    <div class="row" id="style">
      <div class="col-md-2 col-md-offset-2" style="padding-top: 40px;">
        <label style="font-size: 16px;">Servings:</label>
        <p class="lead" ng-bind="recipe.servings"></p>
        <label style="font-size: 16px;">Cook Time:</label>
        <p class="lead" ng-bind="recipe.cook_time"></p>
      </div>
      <div class="col-md-5 " style="padding-bottom: 50px; padding-top: 30px;">
        <img id="recipepicture" ng-src="{{recipe.imgURL}}">
      </div>
    </div>
    <div class="row" id="style">
      <div class="col-md-6 col-md-offset-3">
        <div class="pull-right" ng-show="authentication.user._id == recipe.user._id">
          <a class="btn btn-primary" ui-sref="recipes.edit({recipeId: recipe._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
          <a class="btn btn-info" ui-sref="recipes.healthify({recipeId: recipe._id})">
            <i class="glyphicon glyphicon-heart" > Healthify</i>
          </a>
        </div>
      </div>
    </div>
  <div class="row" id="style">
    <div class="col-md-8 col-md-offset-2">
      <label style="font-size: 20px;">Ingredients</label>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Ingredient</th>
            <th>Healthified Ingredients</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in recipe.orig_ing">
            <td>{{ingredient.quantity}}</td>
            <td>{{ingredient.unit}}</td>
            <td>{{ingredient.food_item.name}}</td>
            <td>{{recipe.healthy_ing[$index].food_item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!--table of ingredients-->

    <div class="row" id="style">
      <div class="col-md-8 col-md-offset-2" style="padding-bottom: 50px;">
        <label style="font-size: 16px;">Directions:</label>
        <p class="" ng-bind="recipe.instructions"></p>
      </div>
    </div>

</div>
</section>
<footer class="modal-footer modal-footer-center" id="footerstyle">
  <a ui-sref="contact" class="footer">Contact Us</a>
  <a ui-sref="about" class="footer">About</a>
  <a ui-sref="mission" class="footer">Our Mission</a>
</footer>
