<body>
  <style>
    body {
    background: #F4F7D9;
    }
  </style>
  <section ng-controller="CategoriesController">
    <div class="page-header">
      <h1>New Category</h1>
    </div>
    <div class="col-md-12">
      <form name="categoryForm" class="form-horizontal" ng-submit="create(categoryForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">Name</label>
            <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="categoryForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Category Name is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="tag">Tag</label>
            <input name="tag" type="text" ng-model="tag" id="tag" class="form-control" placeholder="Tag" required>
            <div ng-messages="categoryForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Category Tag is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="img_path">Local Image Name</label>
            <input name="img_path" type="text" ng-model="img_path" id="img_path" class="form-control" placeholder="Local Image Name" required>
            <p style="color: #F00">Note: all images will be prefixed with the path /modules/core/client/img/brand/. Store all photos there!</p>
            <div ng-messages="categoryForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Category Image Path is required.</p>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</body>
