<body>
  <section ng-controller="CategoriesController" ng-init="find()" style="min-height: 100vh;" id="style">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" id="cattitle" style="margin-top: -2px;">
        <h1><span>Browse by Category</span></h1>
      </div>
    </div>
    <div style="padding-bottom: 40px;">
      <carousel interval="3500" id="category-img" style="border: solid 1px transparent; border-radius: 20px;">
        <slide ng-repeat="category in categories | orderBy: 'name'" active="category.active" id="slideStyle" >
          <div style="border: solid 1px #FFF; border-radius: 20px;">
            <img ui-sref="categories.view({categoryId: category._id})" ng-src="{{category.img_path}}" id="category-img">
          </div>
          <div class="carousel-caption" style="bottom: 20px">
            <h3 ui-sref="categories.view({categoryId: category._id})"><span>{{ category.name }}</span></h3>
          </div>
        </slide>
      </carousel>
    </div>
  </section>
</body>

<footer class="modal-footer modal-footer-center" id="footerstyle">
  <a ui-sref="contact" class="footer">Contact Us</a>
  <a ui-sref="about" class="footer">About</a>
  <a ui-sref="mission" class="footer">Our Mission</a>
</footer>