<div ng-controller="AuthenticationController">
  <div class="login-card">
    <h1>Log-in</h1><br>
  <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
    <div ng-messages="userForm.username.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Username is required.</p>
    </div>
    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
    <div ng-messages="userForm.password.$error" role="alert">
      <p class="help-block error-text" ng-message="required">Password is required.</p>
    </div>
    <input type="submit" name="login" class="login login-submit" value="login">
    <div class="login-help">
      <a ui-sref="authentication.signup">Sign up</a> • <a ui-sref="password.forgot">Forgot your password?</a>
    </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
    </form>
  </div>
</div>
